In [1]:
import numpy as np
import pandas as pd

# to split the datasets
from sklearn.model_selection import train_test_split

# for one hot encoding with feature-engine
from feature_engine.categorical_encoders import OneHotCategoricalEncoder

In [2]:
data=pd.read_csv("02_2015_-_2018_Demographic_Snapshot_Pre-_K_For_All.csv")

In [3]:
len(data["Year"].unique())

3

In [4]:
data["Year"].unique()

array(['2015-16', '2016-17', '2017-18'], dtype=object)

In [5]:
dict={}
mydata=data[["Total Enrollment","Year"]]
for unique_val in mydata["Year"].unique():
    print(mydata.loc[mydata["Year"]==unique_val])

      Total Enrollment     Year
0                   14  2015-16
3                   21  2015-16
6                   46  2015-16
9                   18  2015-16
12                  15  2015-16
15                  20  2015-16
18                  29  2015-16
21                  15  2015-16
24                  10  2015-16
25                  13  2015-16
28                  22  2015-16
31                  36  2015-16
34                  31  2015-16
37                  36  2015-16
40                  33  2015-16
43                  16  2015-16
46                  36  2015-16
49                  28  2015-16
52                  21  2015-16
55                  53  2015-16
60                  18  2015-16
63                  30  2015-16
66                  36  2015-16
69                  36  2015-16
72                  46  2015-16
75                  48  2015-16
79                  36  2015-16
82                  37  2015-16
85                  47  2015-16
88                  71  2015-16
...                ...      ...
5344                45  2015-16
5346                51  2015-16
5347                13  2015-16
5350                42  2015-16
5353                11  2015-16
5354                28  2015-16
5355                 9  2015-16
5357                36  2015-16
5360                32  2015-16
5361                30  2015-16
5362                26  2015-16
5365                25  2015-16
5368                34  2015-16
5371                80  2015-16
5374                59  2015-16
5377                20  2015-16
5380                20  2015-16
5383               124  2015-16
5386               121  2015-16
5389               136  2015-16
5392                38  2015-16
5395                23  2015-16
5398                19  2015-16
5401               484  2015-16
5402                33  2015-16
5405                45  2015-16
5407                27  2015-16
5409                 4  2015-16
5410               135  2015-16
5413                31  2015-16

[1822 rows x 2 columns]
      Total Enrollment     Year
1                   17  2016-17
4                   24  2016-17
7                   41  2016-17
10                  13  2016-17
13                  22  2016-17
16                  21  2016-17
19                  32  2016-17
22                  22  2016-17
26                  18  2016-17
29                  34  2016-17
32                  36  2016-17
35                  29  2016-17
38                  36  2016-17
41                  35  2016-17
44                  18  2016-17
47                  36  2016-17
50                  34  2016-17
53                  36  2016-17
56                  50  2016-17
58                  40  2016-17
61                  18  2016-17
64                  34  2016-17
67                  35  2016-17
70                  36  2016-17
73                  38  2016-17
76                  49  2016-17
80                  36  2016-17
83                  43  2016-17
86                  46  2016-17
89                  71  2016-17
...                ...      ...
5375               118  2016-17
5378                57  2016-17
5381                20  2016-17
5384               209  2016-17
5387               114  2016-17
5390               225  2016-17
5393                56  2016-17
5396                61  2016-17
5399                28  2016-17
5403                20  2016-17
5406                33  2016-17
5408                33  2016-17
5411               174  2016-17
5414                38  2016-17
5417                56  2016-17
5419                27  2016-17
5421                26  2016-17
5423                29  2016-17
5425                88  2016-17
5427                30  2016-17
5429                67  2016-17
5431                43  2016-17
5433               162  2016-17
5435               102  2016-17
5437               140  2016-17
5438                38  2016-17
5440                42  2016-17
5441                70  2016-17
5443                67  2016-17
5445                18  2016-17

[1834 rows x 2 columns]
      Total Enrollment     Year
2                   17  2017-18
5                   13  2017-18
8                   34  2017-18
11                  13  2017-18
14                  26  2017-18
17                  35  2017-18
20                  30  2017-18
23                  20  2017-18
27                  18  2017-18
30                  32  2017-18
33                  35  2017-18
36                  19  2017-18
39                  36  2017-18
42                  36  2017-18
45                  18  2017-18
48                  35  2017-18
51                  24  2017-18
54                  22  2017-18
57                  54  2017-18
59                  78  2017-18
62                  18  2017-18
65                  36  2017-18
68                  36  2017-18
71                  36  2017-18
74                  42  2017-18
77                  68  2017-18
78                  20  2017-18
81                  36  2017-18
84                  46  2017-18
87                  47  2017-18
...                ...      ...
5397                32  2017-18
5400                29  2017-18
5404                32  2017-18
5412               179  2017-18
5415                24  2017-18
5416                18  2017-18
5418                70  2017-18
5420                30  2017-18
5422                54  2017-18
5424                46  2017-18
5426                98  2017-18
5428                62  2017-18
5430                62  2017-18
5432                49  2017-18
5434               174  2017-18
5436                58  2017-18
5439                37  2017-18
5442                65  2017-18
5444                87  2017-18
5446                49  2017-18
5447                22  2017-18
5448                26  2017-18
5449                48  2017-18
5450                11  2017-18
5451                73  2017-18
5452                32  2017-18
5453                35  2017-18
5454               123  2017-18
5455                11  2017-18
5456                74  2017-18

[1801 rows x 2 columns]

In [6]:
data.columns

Index(['Site ID', 'Site Name', 'Site Type', 'Year', 'Total Enrollment',
       '# Asian', '% Asian', '# Black', '% Black', '# Hispanic', '% Hispanic',
       '# White', '% White', '# Multiple Race Categories Not Represented',
       '% Multiple Race Categories Not Represented', '# Female', '% Female',
       '# Male', '% Male'],
      dtype='object')

In [7]:
data2=data.drop(labels=['% Asian'], axis=1)

In [8]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
numerical_vars = list(data.select_dtypes(include=numerics).columns)
data = data[numerical_vars]
data.shape

(5457, 15)

In [28]:
len(data2.columns)

18

In [29]:
len(data.columns)

19

In [7]:
data["Year"].shape

(5457,)

In [10]:
len(data["Year"].unique())/len(data["Year"])*100

0.054975261132490384

In [13]:
for col in data.columns:
    print("Column: ",col," contains ", len(data[col].unique())," unique values")

Column:  Site ID  contains  1979  unique values
Column:  Site Name  contains  2441  unique values
Column:  Site Type  contains  6  unique values
Column:  Year  contains  3  unique values
Column:  Total Enrollment  contains  159  unique values
Column:  # Asian  contains  89  unique values
Column:  % Asian  contains  591  unique values
Column:  # Black  contains  86  unique values
Column:  % Black  contains  696  unique values
Column:  # Hispanic  contains  106  unique values
Column:  % Hispanic  contains  791  unique values
Column:  # White  contains  88  unique values
Column:  % White  contains  597  unique values
Column:  # Multiple Race Categories Not Represented  contains  25  unique values
Column:  % Multiple Race Categories Not Represented  contains  206  unique values
Column:  # Female  contains  92  unique values
Column:  % Female  contains  410  unique values
Column:  # Male  contains  92  unique values
Column:  % Male  contains  409  unique values