In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("test.csv")

In [3]:
data

    A    B     C
0  A1   11   111
1  A1  110   112
2  A2   12  1113
3  A2  122   222
4  A2   12   223
5  A3   13    20
6  A3  133    20
7  A3   13    20

In [6]:
for col in data.columns:
    print(data[col])

<bound method Series.unique of 0    A1
1    A1
2    A2
3    A2
4    A2
5    A3
6    A3
7    A3
Name: A, dtype: object>
<bound method Series.unique of 0     11
1    110
2     12
3    122
4     12
5     13
6    133
7     13
Name: B, dtype: int64>
<bound method Series.unique of 0     111
1     112
2    1113
3     222
4     223
5      20
6      20
7      20
Name: C, dtype: int64>